@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  max-width: 1440px;
  position: relative;
  margin: 0px auto;
}

.wrapper {
  background-color: #FEDBCA;
}

/* Computer Styles */
.footer, .block3, .block2, .block1 {
  border-top: 1px solid #1E1812;
  border-bottom: 1px solid #1E1812;
  min-height: 950px;
}

.header {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 102px 0px 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__section {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__section .header__icon {
  padding-right: 11px;
}
.header .header__section .header__title {
  padding: 0px 11px;
  color: #000;
  font-family: Rozha One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 842px) {
  .header .nav {
    height: 90px;
  }
  .header .nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: row;
        -ms-flex: row nowrap;
            flex: row nowrap;
  }
}

@media (min-width: 842px) {
  .nav__item {
    padding: 0px 8px 0px 8px;
  }
  .nav__item .nav__link {
    padding: 0px 8px 0px 25px;
    margin: 0px 0px 0px 70px;
    color: #1E1812;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
@media (min-width: 842px) {
  .nav__link_shop {
    background-image: url("../img/Vector.svg");
    background-size: 14px 12px;
    background-repeat: no-repeat;
    background-position: left;
  }
}
@media (min-width: 842px) {
  .nav__link_history {
    background-image: url("../img/Vector2.png");
    background-size: 11px 14px;
    background-repeat: no-repeat;
    background-position: left;
  }
}
@media (min-width: 842px) {
  .nav__link_bake {
    background-image: url("../img/Vector3.png");
    background-size: 14px 17px;
    background-repeat: no-repeat;
    background-position: left;
  }
}
@media (min-width: 730px) {
  .block1 .block1__title {
    color: #1E1812;
    font-family: Rozha One;
    font-size: calc(55px + 1.4583333333vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 390px;
    left: 159px;
  }
  .block1 .block1__text {
    position: absolute;
    top: 498px;
    left: 159px;
    color: #000;
    font-family: Lato;
    font-size: 21.683px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .block1 .block1__button {
    position: absolute;
    top: 561px;
    left: 159px;
    border-radius: 26px;
    border: 1px solid #1E1812;
    background: #FFCBAF;
    padding: 18px 68px 22px 32px;
    color: #1E1812;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url("../img/icons8_doughnut1.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right 30px bottom 23px;
  }
  .block1 .block1__icon {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 857px;
    left: 1252px;
  }
}

.block1__img {
  position: absolute;
  left: 709px;
  top: 155px;
  z-index: 2;
}

.block1__img-black {
  position: absolute;
  top: 174px;
  left: 718px;
  z-index: 1;
}

.block2 .block2__title {
  margin: 64px 0px 0px 138px;
  color: #000;
  font-family: Rozha One;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.goods {
  display: grid;
  padding: 0px 180px 0px 180px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  margin: 101px 0px 101px 0px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.goods .card {
  margin: 0px auto;
  width: 287px;
  margin-bottom: 60px;
  border-radius: 42px;
  border: 1px solid #000;
}
.goods .card .card__img {
  display: block;
  margin: 0px 20px 0px 55px;
}
.goods .card .card__text {
  width: 200px;
  margin: 11px auto 0px auto;
}
.goods .card .card__title {
  margin-bottom: 11px;
  text-align: left;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.goods .card .card__descript {
  text-align: left;
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.goods .card .card__button {
  display: block;
  margin: 29px 22px 17px 130px;
  padding: 16px 20px 16px 20px;
  border-radius: 21px;
  border: 0.8px solid #1E1812;
  background: #FFCBAF;
  color: #1E1812;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block3 {
  position: relative;
}
@media (min-width: 1330px) {
  .block3 .block3__title {
    margin: 68px 444px 0px 567px;
    color: #000;
    font-family: Rozha One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .block3 .block3__mini-text {
    margin: 10px 799px 21px 567px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .block3 .block3__text {
    margin: 10px 0px 0px 567px;
    width: 637px;
    height: 532px;
    color: #000;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .block3 .block3__img {
    position: absolute;
    top: 144px;
    left: 44px;
    z-index: 2;
  }
  .block3 .block3__img-market-b {
    position: absolute;
    top: 144px;
    left: 31px;
    z-index: 1;
  }
  .block3 .block3__img-star {
    position: absolute;
    top: 138px;
    left: 416px;
  }
}

@media (min-width: 1240px) {
  .footer .footer__map {
    border-radius: 64px;
    float: left;
    margin: 122px 119px 122px 110px;
  }
  .footer .footer__title {
    margin: 122px 0px 68px 0px;
    color: #000;
    font-family: Rozha One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer .footer__address {
    display: inline-block;
    padding-left: 30px;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    background: url("../img/Vector3.png") no-repeat left top 5px;
  }
  .footer .footer__text {
    margin-bottom: 25px;
    clear: left;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}

/*--------------------*/
/* Mobile Styles */
.block1, .block2, .block3, .footer {
  border-top: 1px solid #1E1812;
  border-bottom: 1px solid #1E1812;
  min-height: 950px;
}

.header {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 102px 0px 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__section {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__section .header__icon {
  padding-right: 11px;
}
.header .header__section .header__title {
  padding: 0px 11px;
  color: #000;
  font-family: Rozha One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 842px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 842px) {
  .header__burger {
    width: 50px;
    height: 50px;
    background-image: url("/img/menu.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center center;
    cursor: pointer;
  }
}
@media (max-width: 730px) {
  .block1 .block1__title {
    color: #1E1812;
    font-family: Rozha One;
    font-size: calc(55px + 1.4583333333vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 390px 0px 0px 0px;
    text-align: center;
  }
}
@media (max-width: 730px) and (max-width: 730px) {
  .block1 .block1__title {
    font-size: calc(55px + 35.7 * (100vw - 364px) / 1440);
  }
}
@media (max-width: 730px) {
  .block1 .block1__text {
    color: #000;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
  }
  .block1 .block1__button {
    display: block;
    margin: 24px auto;
    border-radius: 26px;
    border: 1px solid #1E1812;
    background: #FFCBAF;
    padding: 18px 68px 22px 32px;
    color: #1E1812;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url("../img/icons8_doughnut1.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right 30px bottom 23px;
  }
  .block1 .block1__icon {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 857px;
    left: 1252px;
  }
}

.block2 .block2__title {
  margin: 64px 0px 0px 138px;
  color: #000;
  font-family: Rozha One;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.goods {
  display: grid;
  padding: 0px 180px 0px 180px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  margin: 101px 0px 101px 0px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.goods .card {
  margin: 0px auto;
  width: 287px;
  margin-bottom: 60px;
  border-radius: 42px;
  border: 1px solid #000;
}
.goods .card .card__img {
  display: block;
  margin: 0px 20px 0px 55px;
}
.goods .card .card__text {
  width: 200px;
  margin: 11px auto 0px auto;
}
.goods .card .card__title {
  margin-bottom: 11px;
  text-align: left;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.goods .card .card__descript {
  text-align: left;
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.goods .card .card__button {
  display: block;
  margin: 29px 22px 17px 130px;
  padding: 16px 20px 16px 20px;
  border-radius: 21px;
  border: 0.8px solid #1E1812;
  background: #FFCBAF;
  color: #1E1812;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block3 {
  position: relative;
}
@media (max-width: 1330px) {
  .block3 .block3__title {
    margin: 68px 0px 0px 0px;
    text-align: center;
    color: #000;
    font-family: Rozha One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .block3 .block3__mini-text {
    margin: 10px 0px 21px 0px;
    text-align: center;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .block3 .block3__text {
    margin: 10px auto 0px auto;
    text-align: center;
    width: 637px;
    height: 532px;
    color: #000;
    font-family: Lato;
    font-size: 26px;
    font-size: calc(20px + 0.4166666667vw);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

@media (max-width: 1240px) {
  .footer .footer__map {
    border-radius: 64px;
    margin: 122px auto 0px auto;
    display: block;
  }
  .footer .footer__title {
    margin: 20px 0px 15px 0px;
    color: #000;
    font-family: Rozha One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .footer .footer__address {
    display: block;
    padding-left: 20px;
    text-align: center;
    margin: 0 auto;
    width: 450px;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    background: url("../img/Vector3.png") no-repeat left top 5px;
  }
  .footer .footer__text {
    margin-bottom: 122px;
    margin-top: 35px;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}

/*--------------------*/